:root {
  --num-button: #c7f9cc;
  --primary-button: #ff7d00;
  --secondary-button: #38a3a5;
  --background-color: #ffecd1;
  --display-color: #e9ecef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: var(--background-color);
  font-family: "Jersey 15", serif;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 3.5rem;
}

.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-body {
  height: 600px;
  width: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 25px;
  background-color: gray;
}

.calculator-display {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 150px;
  padding: 2rem;
  font-size: 4rem;
  border-radius: 10px 10px 0 0;
  background: var(--display-color);
  border: 5px solid black;
}

.buttons-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 5px;
  border-radius: 0 0 10px 10px;
  background: black;
}

.buttons-container > button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    border: 1px solid black;
}

button:hover {
  filter: brightness(1.1);
}

.num-button {
  background: var(--num-button);
}

.operator-button {
  background: var(--primary-button);
}

.equal-button {
  grid-column: span 2;
}

.secondary-operator-button {
  background: var(--secondary-button);
}

footer > p {
  font-size: 1.5rem;
  margin-top: 10px;
}